@page
@model FuerzaG.Pages.Prueba

@{
}

<h2>Categorías</h2>

<div>
    <a asp-page="CategoriasCreate" class="btn btn-primary">Nueva Categoría</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre de la Categoría</th>
        <th>Creado en:</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var brand in Model.Brands)
    {
        <tr>
            <td>@brand.Id</td>
            <td>@brand.Name</td>
            <td>@brand.CreatedAt</td>
            <td>@brand.IsActive</td>
            <td>
                <a asp-page="CategoriasEdit" asp-route-id="@brand.Id" class="btn btn-warning btn-sm">Editar</a>
                <a class="btn btn-warning btn-sm">Eliminar</a>
            </td>
        </tr>
    }

    </tbody>
    <tfoot>
    <tr>
        <td colspan="3"> @Model.Brands.Count Registros encontrados</td>
    </tr>
    </tfoot>
</table>
